<nav>
    <mat-toolbar color="primary" class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-between">
            <button mat-button class="nav-link text-white mobile-nav-toogle" (click)="openContent()"><mat-icon>menu</mat-icon></button>
            <a class="navbar-brand text-white" routerLink="/dashboard">GAD</a>
            <div class="desktop-nav">
                <a mat-button class="nav-link text-white" *ngFor="let i of menu" [routerLink]="i.link"><mat-icon>{{i.icon}}</mat-icon> {{i.name}}</a>
            </div>
            <ng-container>
                <div class="users" *ngIf="!authService.loggedIn(); else loggedUser">
                    <a mat-button class="nav-link text-white" (click)="loginGoogle()"><mat-icon>account_circle</mat-icon> Login</a>
                </div>
            </ng-container>
        </div>
    </mat-toolbar>
</nav>

<ng-template #loggedUser>
    <a mat-button class="nav-link text-white" (click)="logoutGoogle()"><mat-icon>power_settings_new</mat-icon> LogOut</a>
</ng-template>

<mat-sidenav-container
    class="example-container" (click)="close('sidenav')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <app-mobile-nav></app-mobile-nav>
  </mat-sidenav>
  <mat-sidenav-content [class.show]="check"></mat-sidenav-content>
</mat-sidenav-container>