<div class="container mb-5 mt-3">
  <mat-tab-group>
    <mat-tab label="Todo">
      <div class="container mt-2">
        <div class="row">
          <mat-list *ngFor="let employe of employes$ | async" class="w-100">
            <mat-list-item class="mb-2">
              <div class="col-xl-12 d-flex align-items-end">
                <div class="img-employe mr-3">
                  <img
                    class="img-fluid"
                    [src]="'http://localhost:4000/' + employe.profile"
                    alt="empleado_imagen"
                  />
                </div>
                <div class="name-employe">
                  <div class="h5 text-uppercase">
                    {{employe.name}} {{employe.last}}
                  </div>
                </div>
                <div class="ml-auto">
                  <button
                    mat-button
                    class="mr-2"
                    (click)="goToEditar('Crear o Editar', employe)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button>
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Crear o Editar">
      <app-employe-edit-create
        *ngIf="employe$ | async"
        [employe]="employe$ | async"
      ></app-employe-edit-create>
      <app-employe-edit-create *ngIf="!employe$"></app-employe-edit-create>
    </mat-tab>
  </mat-tab-group>
</div>
