<div class="container-fluid">
    <form [formGroup]="scheduleForm" #formDirective="ngForm" (ngSubmit)="onSubmit(editModel._id, formDirective)" novalidate>
        <div class="row mt-3 mb-3">
          <div class="col-sm-6 task">
            <button mat-mini-fab pageScroll color="accent" href="#awesomePart" class="go-to">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <div class="row task-container">
              <div class="col-xl-6" *ngFor="let schedule of schedules$ | async" (click)="refillForm(schedule._id, schedule.employe_id, schedule.machinery_id, schedule)">
                  <mat-card class="mb-3">
                      <h4 class="d-flex"><mat-icon>label</mat-icon><span>{{schedule.name}}</span></h4>
                      <div>
                        <mat-chip-list cdkDropList 
                          cdkDropListOrientation="horizontal">
                          <mat-chip cdkDrag>
                            {{schedule.startDate}} - {{schedule.endDate}}
                          </mat-chip>
                        </mat-chip-list>
                      </div>
                      <h3>{{schedule.employe_id.name}}</h3>
                      <h3>{{schedule.machinery_id.name}}</h3>
                  </mat-card>
              </div>
            </div>
          </div>
            <div class="col-sm-6" id="awesomePart">
                <div class="row">
                  <div class="col-xl-12 col-lg-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Ingresa el nombre de la tarea</mat-label>
                      <input
                        class="shadow-none"
                        matInput
                        placeholder="Tarea"
                        maxlength="15"
                        minlength="5"
                        type="text"
                        formControlName="name"
                        required
                      />
                      <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
              class="alert alert-danger">

                  <div *ngIf="f.name.errors.required">
                    Información requerida.
                  </div>
                  <div *ngIf="f.name.errors.minlength">
                    El titulo debe contener más de 4 caracteres.
                  </div>
                  <div *ngIf="f.name.errors.maxlength">
                    El titulo no debe contener más de 40 caracteres.
                  </div>
                  <div *ngIf="f.name.pending">Validando...</div>

              </div>
                  </div>
                  <div class="col-xl-12 col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Empleado</mat-label>
                        <mat-select formControlName="employe_id" (selectionChange)="addEmploye($event)">
                          <mat-option *ngFor="let employe of employes$ | async" value="{{employe._id}}">
                            {{employe.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-12 col-lg-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Maquinaria</mat-label>
                        <mat-select formControlName="machinery_id" (selectionChange)="addMachinery($event)">
                          <mat-option *ngFor="let machinery of machineries$ | async" value="{{machinery._id}}">{{machinery.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-12 col-lg-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Ingresa fecha de incio</mat-label>
                      <input
                        class="shadow-none"
                        matInput
                        maxlength="5"
                        minlength="3"
                        type="time"
                        formControlName="startDate"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-12 col-lg-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Ingresa fecha de finalizacion</mat-label>
                      <input
                        class="shadow-none"
                        matInput
                        maxlength="15"
                        minlength="5"
                        type="time"
                        formControlName="endDate"
                        required
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-xl-12 col-lg-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Ingresa el lugar</mat-label>
                      <input
                        class="shadow-none"
                        matInput
                        placeholder="Lugar"
                        maxlength="15"
                        minlength="5"
                        type="text"
                        formControlName="place"
                        required
                      />
                      <mat-icon matSuffix>place</mat-icon>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <mat-form-field appearance="outline">
                      <mat-label>Ingresa una descripción</mat-label>
                      <textarea matInput formControlName="description" class="shadow-none"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <button mat-raised-button color="primary" class="w-100" type="submit" [disabled]="scheduleForm.invalid">Guardar</button>
                  </div>
                  <div class="col-6">
                    <button mat-raised-button color="warn" class="w-100" (click)="clearForm()" >Limpiar</button>
                  </div>
                </div>
            </div>
        </div>
    </form>
</div>