input[type=time] {
    font-size: 18px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    font-size: 20px;
}

.task{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.task-container{
    margin-top: -50px;
}

.go-to{
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: 20px;
    left: 88%;
    z-index: 1;
    margin-right: 0;
}

@media (min-width: 576px) {
    .task-container{
        margin-top: 10px;
    }

    .go-to{
        display: none;
    }
}