<div class="container-fluid">
  <form [formGroup]="employeForm" (ngSubmit)="onSubmit()">
    <div class="row mt-3">
      <div class="col-xl-12">
          <div class="row">
            <div class="col-xl-6 text-center d-flex justify-content-center align-items-center">
              <input
                class="d-none"
                type="file"
                formControlName="profile"
                required
                #photoInput
                (change)="onPhotoSelected($event)"
              />
                <img class="img-fluid w-25 img-thumbnail" [src]="photoSelected || 'assets/no-image.png'" alt="image" (click)="photoInput.click()">
            </div>
            <div class="col-xl-6">
              <div class="row">
                    <div class="col-xl-12">
                      <mat-form-field appearance="outline">
                        <mat-label>Ingresa tu nombre</mat-label>
                        <input
                          matInput
                          class="shadow-none"
                          placeholder="name"
                          maxlength="30"
                          minlength="10"
                          formControlName="name"
                          [value]="employe?.name || ''"
                          required
                        />
                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-12">
                      <mat-form-field appearance="outline">
                        <mat-label>Ingresa tu apellido</mat-label>
                        <input
                          matInput
                          class="shadow-none"
                          placeholder="Apellido"
                          maxlength="30"
                          minlength="10"
                          type="text"
                          formControlName="last"
                          required
                        />
                        <mat-icon matSuffix>assignment_ind</mat-icon>
                      </mat-form-field>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xl-12">
        <mat-form-field appearance="outline">
          <mat-label>Ingresa tu dirección</mat-label>
          <input
            matInput
            class="shadow-none"
            placeholder="Dirección"
            maxlength="30"
            minlength="10"
            type="text"
            formControlName="direction"
            required
          />
          <mat-icon matSuffix>place</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu email</mat-label>
              <input
                matInput
                class="shadow-none"
                placeholder="Email"
                maxlength="50"
                minlength="10"
                type="email"
                formControlName="email"
                required
              />
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-xl-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu cargo</mat-label>
              <input
                matInput
                class="shadow-none"
                placeholder="Cargo"
                maxlength="15"
                minlength="5"
                type="text"
                formControlName="position"
                required
              />
              <mat-icon matSuffix>rowing</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu edad</mat-label>
              <input
                matInput
                class="shadow-none"
                placeholder="Edad"
                maxlength="2"
                minlength="2"
                type="number"
                formControlName="age"
                required
              />
              <mat-icon matSuffix>today</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-xl-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu fecha de nacimiento</mat-label>
              <input
                matInput
                class="shadow-none"
                placeholder="F. Nacimiento"
                type="date"
                formControlName="date"
                required
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu número de cedula</mat-label>
              <input
                matInput
                class="shadow-none"
                placeholder="Número de cedula"
                maxlength="15"
                minlength="9"
                type="number"
                formControlName="dni"
                required
              />
              <mat-icon matSuffix>image_aspect_ratio</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-xl-6">
            <mat-form-field appearance="outline">
              <mat-label>Ingresa tu ciudad</mat-label>
              <input
                matInput
                class="shadow-none"
                placeholder="Ciudad"
                maxlength="20"
                minlength="4"
                type="text"
                formControlName="city"
                required
              />
              <mat-icon matSuffix>location_city</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <button mat-raised-button color="primary" class="w-100" type="submit" >Guardar</button>
      </div>
    </div>
  </form>
</div>
