<div class="container-fluid">
    <form class="example-form">
        <div class="row mt-3">
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Ingresa tu nombre</mat-label>
                            <input matInput placeholder="Nombre">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                          </mat-form-field>
                    </div>
                    <div class="col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Ingresa tu apellido</mat-label>
                            <input matInput placeholder="Apellido">
                            <mat-icon matSuffix>alternate_email</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Ingresa tu edad</mat-label>
                            <input matInput placeholder="Edad">
                            <mat-icon matSuffix>today</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Ingresa tu dirección</mat-label>
                            <input matInput placeholder="Dirección">
                            <mat-icon matSuffix>place</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <div class="row">
                    <div class="col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Ingresa tu número de cedula</mat-label>
                            <input matInput placeholder="Número de cedula">
                            <mat-icon matSuffix>image_aspect_ratio</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Ingresa tu ciudad</mat-label>
                            <input matInput placeholder="Ciudad">
                            <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-xl-12">
                <button mat-raised-button color="primary" class="w-100">Guardar</button>
            </div>
        </div>
    </form>
</div>

{{employe.name}}