<div class="footer pt-5 pb-4 pl-3 pr-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 text-center d-flex align-items-center justify-content-center mb-4">
                <a href="#" class="navbar-brand text-white">GAD</a>
            </div>
            <div class="col-xl-8 text-center mb-4">
                <div class="text-white w-100 h-100 d-flex align-items-center justify-content-center">
                    <span>
                        Todos los derechos reservados.
                    </span>
                </div>
            </div>
            <div class="col-xl-2 text-center mb-4">
                <button mat-fab color="primary" class="mr-2">
                    <i class="fab fa-facebook-f" style="font-size: 25px;"></i>
                </button>
                <button mat-fab color="primary">
                    <i class="fab fa-twitter" style="font-size: 25px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>